body{
	padding: 10px;
}
#container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

input[type=text]{
	width: 90%;
	margin: 30px 0px;
}

input[type=text]:focus{
	outline: 0;
	 box-shadow: 0 0 5px #3898ec;
}
input:focus::placeholder {
  color: transparent;
}



#fav-btn{
	margin-left: 100px;
}





#list-display{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 50px;
}
#list-display div{
	margin:20px;
}
.inline-block{
	display: inline-block;
}
.display-flex{
	display: flex;
}
.card-text{
	font-weight: bold;
}
.card-text span{
	margin-left: 20px;
	font-weight: normal;

}

.card-body button{

	position: absolute;
   bottom: 5%;
   right: 5%;
   cursor: pointer;
}
.card{
	box-shadow: 1px 1px 10px 1px rgb(43, 197, 180);
	border-radius: 5px;
	margin:0px 0px 10px 0px;

}


#toast{
	background-color:#333333;
	color: white;
	padding: 10px;
	display: inline-block;
	position: fixed;
	bottom: 20px;
	left: 20px;
	transform: translateY(200px);
	transition: all .2s;
	border-radius: 10px;
}
#toast.show{
	transform: translateY(0);

}